<koken:event_album_update>

	<figure class="block unit scrollstop">

		<koken:link filter:order_by="published_on" filter:year="{{ date date_format='Y' }}" filter:month="{{ date date_format='m' }}" filter:day="{{ date date_format='d' }}" title="View {{ album.title }}">

			<koken:img lazy="true" class="height_limit" />

		</koken:link>

		<figcaption>

			<koken:time />

			<h2>
				<koken:link filter:order_by="published_on" filter:year="{{ date date_format='Y' }}" filter:month="{{ date date_format='m' }}" filter:day="{{ date date_format='d' }}" title="View {{ album.title }}">
					{{ album.title }} ({{ content.length }} new {{ content.length plural="items" singular="item" }})
				</koken:link>
			</h2>

			<p class="caption">

				{{ album.summary | album.description }}

			</p>

		</figcaption>

	</figure>

</koken:event_album_update>